.*
.*/**

node_modules
dist/**
dist-server/**
tmp/**
out-tsc/**

*.launch
*.sublime-workspace

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache/**
connect.lock
coverage/**
*.log
typings/**

e2e/*.js
e2e/*.map

Thumbs.db

!.gitignore
!src/**


